# Test 1.0 (Basic Python)

#  List

1- Create an empty list called fruits.

2- Add "apple" to the fruits list using append().

3- Add another list ["banana", "cherry"] to fruits using extend().

4- Remove "banana" from the fruits list using remove().

5- Remove the last item from fruits using pop().

6- Reverse the fruits list using reverse().

7- Insert "mango" at index 1 in the fruits list using insert().

8- Print elements from index 2 to 4 using slicing.

9- Create a list of numbers from 1 to 5.

10- Print the first and last element of the list using indexing.

11- Change the value at index 2 to 10.

12- Check if "grape" exists in the list fruits, and print a message.

13- Use a loop to print all items in the list one by one.

14- Use len() to print the number of items in the list.

In [ ]:
#1
 fruits=[]
#2
 fruits.append("apple")
#3
 fruits.extend(["banana", "cherry"])
#4
 fruits.remove("banana")
#5
 fruits.pop(1)
#6
 fruits.reverse()
#7
 fruits.insert(1, "mango")
#8
 print(fruits[2:4])
#9
 numbers=[1,2,3,4,5]
#10
 print(ls[0])
 print(ls[-1])
#11
 numbers[2]=10
#12
 if "grape" in fruits:
    print("grape is in list.")
else:
    print("grape is not in list.")
#13
 for fruit in fruits:
    print(fruit)
#14
 print(len(fruits))

# Tuple

1- Create a tuple of numbers like (1, 2, 3, 2, 4, 2).

2- Use count() to find how many times 2 appears.

3- Use index() to find the index of the number 4.

4- If you want to add an item to a tuple, how will you convert it to a list, append the item, and convert it back to a tuple?

5- Create a tuple of 3 strings: "red", "green", "blue".

6- Try changing the first item of the tuple â€” what error do you get?

7- Convert this tuple to a list, add a new color, and convert it back to a tuple.

In [ ]:
#1
numbers_tuple=(1,2,3,2,4,2)
#2
numbers.count(2)
#3
numbers.index(4)
#4
temp_list=list(numbers_tuple)
temp_list.append(5)
numbers_tuple=tuple(temp_list)
#5
colors ("red", "green", "blue")
#6 if u try to change the first item
colors[0]="yellow" 
# That's the error we get
#TypeError: ' tuple' object does not support item assignment
#7
temp_list=list(colors)
temp_list.append("white")
colors=tuple(temp_list)

# Set

1- Create an empty set called my_set.

2- Add "apple" and "banana" to my_set using add().

3- Do sets allow duplicate values? Explain with an example.

4- Create two sets:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
Find the union and intersection of the sets.

5- Remove an item from a set using discard().

6- Use a loop to print all elements in a set.

In [ ]:
#1
my_set = set()
#2
my_set.add("apple")
my_set.add("banana")
#3 No sets does not allow duplicate values
my_set = set()
my_set.add("apple")
my_set.add("banana")
my_set.add("apple")  # Duplicate

print(my_set)
{'apple', 'banana'}  #output
#4 
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
union_set = set1.union(set2)
print("Union:", union_set)

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)
#5
my_set.discard()
#6
my_set = {1, 2, 3, 4, 5}

for item in my_set:
    print(item)

# Dictionary

1- Create a dictionary with a key "name" and value "Ali".

2- Access the value of the key "name".

3- Add a new key "age" with the value 25.

4- Update the value of "name" to "Ahmed".

5- Create a dictionary of a student: {"name": "Sara", "grade": "A", "age": 17}

6- Print all keys in the dictionary.

7- Print all values in the dictionary.

8- Check if "grade" key exists in the dictionary.

9- Loop through the dictionary and print each key and its value.

In [ ]:
#1
person = {"name": "Ali"}
#2
print(person["name"])
#3
person["age"] = 25
{"name": "Ali", "age": 25} #Output
#4
person["name"] = "Ahmed"
#5
student = {"name": "Sara", "grade": "A", "age": 17}
#6
print(student.keys())
dict_keys(['name', 'grade', 'age']) #output
#7
print(student.values())
dict_values(['Sara', 'A', 17]) #output
#8
if "grade" in student:
    print("Key 'grade' exists in the dictionary.")
else:
    print("Key 'grade' does not exist in the dictionary.")
#9
for key, value in student.items():
    print(f"{key}: {value}")

# If-Elif-Else

numbers = [5, 10, 15, 20, 25]

1- Check if 10 is in the list. If it is, print "Found 10", otherwise print "10 not found".

2- Write a condition: If any number is greater than 20, print "Large number", else print "Small number".

In [ ]:
#1
if 10 in numbers:
    print("Found 10")
else:
    print("10 not found")
#2
for num in numbers:
    if num > 20:
        print("Large number")
    else:
        print("Small number")

# Simple Expression

1- Given a = 5, b = 10 Print the results of: a + b, a * b, b - a, and b / a.

2- Write an expression to calculate (a + b) * 2 and print the result.

3- Write a program that takes age as input from the user and checks:

4- If age >= 18, print "You are an adult", Otherwise, print "You are a minor"

In [ ]:
#1
print("a + b =", a + b)
print("a * b =", a * b)
print("b - a =", b - a)
print("b / a =", b / a)
#output
a + b = 15
a * b = 50
b - a = 5
b / a = 2.0 
#2
result = (a + b) * 2
print("The result of (a + b) * 2 is:", result)
The result of (a + b) * 2 is: 30 #output
#3#4
# Taking age as input from the user
age = int(input("Please enter your age: "))

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

# More Expression Questions

1- Calculate the area of a rectangle with width = 5 and height = 10. (Formula: area = width * height)

2- Write an expression that converts Celsius to Fahrenheit:
F = (C * 9/5) + 32, where C = 25.

3- Write a simple interest formula:
SI = (P * R * T) / 100, where P=1000, R=5, T=2

In [ ]:
#1
width = 5
height = 10

area = width * height
print("The area of the rectangle is:", area)
The area of the rectangle is: 50 #output
#2
C = 25
F = (C * 9/5) + 32
print("The temperature in Fahrenheit is:", F)
The temperature in Fahrenheit is: 77.0 #output
#3
P = 1000  
R = 5     
T = 2     

SI = (P * R * T) / 100
print("The simple interest is:", SI)
The simple interest is: 100.0  #output

# Range Function

1- Use range() to print numbers from 0 to 4.

2- Use range(1, 6) to print numbers from 1 to 5.

3- Use a for loop with range(5) to print "Hello" 5 times.

4- Use range(2, 11, 2) to print even numbers from 2 to 10.

5- Use range(10, 0, -1) to print numbers from 10 to 1 in reverse order.

6- Store a range(3, 8) in a list and print that list.

7- Use range() inside a loop to print squares of numbers from 1 to 5.

In [ ]:
#1
for num in range(5):  
    print(num)
#2
for num in range(1, 6):  
    print(num)
#3
for _ in range(5): 
    print("Hello")
#4
for num in range(2, 11, 2): 
    print(num)
#5
for num in range(10, 0, -1):  
    print(num)
#6
my_list = list(range(3, 8))  
print(my_list)
#7
for num in range(1, 6): 
    print(num ** 2)

All the Best 
Submit Before Saturday 12 PM